defaults: &defaults
  working_directory: /go/src/github.com/mstrzele/helm-edit
  docker:
    - image: circleci/golang:1.12

version: 2
jobs:
  lint:
    <<: *defaults
    steps:
      - run:
          name: Installing Glide
          command: curl https://glide.sh/get | sh
      - checkout
      - run: go install
      - run:
          name: Installing gometalinter
          command: |
            go get -u github.com/alecthomas/gometalinter
            gometalinter --install
      - run:
          name: Running gometalinter
          command: gometalinter --deadline=5m --errors $(glide novendor)
  build:
    <<: *defaults
    steps:
      - run:
          name: Installing Gox
          command: go get github.com/mitchellh/gox
      - checkout
      - run: gox -osarch "darwin/amd64 linux/amd64" -output "dist/{{.Dir}}_{{.OS}}_{{.Arch}}"

      - persist_to_workspace:
          root: dist
          paths:
            - helm-edit_darwin_amd64
            - helm-edit_linux_amd64

  deploy:
    <<: *defaults
    steps:
      - run:
          name: Installing ghr
          command: go get -u github.com/tcnksm/ghr
      - checkout

      - attach_workspace:
          at: dist

      - deploy:
          command: ghr -t $GITHUB_TOKEN -u $CIRCLE_PROJECT_USERNAME -r $CIRCLE_PROJECT_REPONAME --replace `git describe --tags` dist/

workflows:
  version: 2
  lint-build-and-deploy:
    jobs:
      - lint
      - build:
          requires:
            - lint
      - deploy:
          requires:
            - build
          filters:
            tags:
              only: /v[0-9]+(\.[0-9]+)*/
