---
defaults: &defaults
  working_directory: /go/src/github.com/mstrzele/helm-edit
  docker:
    - image: circleci/golang:1.12

version: 2
jobs:
  lint:
    <<: *defaults
    steps:
      - checkout
      - run: dep ensure

      - persist_to_workspace:
          root: vendor
          paths:
            - "*"

      - run: go install
      - run:
          name: Installing gometalinter
          command: |
            go get -u github.com/alecthomas/gometalinter
            gometalinter --install
      - run:
          name: Running gometalinter
          command: gometalinter --deadline=5m --errors

  build:
    <<: *defaults
    steps:
      - run:
          name: Installing Gox
          command: go get github.com/mitchellh/gox
      - checkout

      - attach_workspace:
          at: vendor

      - run: >
          gox -osarch "darwin/amd64 linux/amd64"
          -output "dist/{{.Dir}}_{{.OS}}_{{.Arch}}"

      - persist_to_workspace:
          root: dist
          paths:
            - helm-edit_darwin_amd64
            - helm-edit_linux_amd64

  test:
    docker:
      - image: docker:18.09
    steps:
      - run: docker info
      - run: wget -O /usr/local/bin/kind https://github.com/kubernetes-sigs/kind/releases/download/v0.3.0/kind-linux-amd64 && chmod +x /usr/local/bin/kind
      - run: kind create cluster --loglevel debug

  deploy:
    <<: *defaults
    steps:
      - run:
          name: Installing ghr
          command: go get -u github.com/tcnksm/ghr
      - checkout

      - attach_workspace:
          at: dist

      - deploy:
          command: >
            ghr -t $GITHUB_TOKEN -u $CIRCLE_PROJECT_USERNAME
            -r $CIRCLE_PROJECT_REPONAME --replace `git describe --tags` dist/

workflows:
  version: 2
  lint-build-and-deploy:
    jobs:
      - lint:
          filters:
            tags:
              only: /.*/
      - build:
          requires:
            - lint
          filters:
            tags:
              only: /.*/
      - test:
          requires:
            - build
          filters:
            tags:
              only: /.*/
      - deploy:
          requires:
            - test
          filters:
            tags:
              only: /^v.*/
            branches:
              ignore: /.*/
